/* page theme colors 
#384F4D - blue
#42384F - purple - hover - rgb(92, 65, 67)
#4F383A - red
#454F38 - green */

/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

html {
    background-color: rgb(224, 224, 224);
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    min-width: 400px;
    max-width: 1200px;
    min-height: 100%;
    display: block;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "logo header header header header"
        "nav nav nav nav nav"
        "preContent preContent preContent preContent preContent"
        "main main main main main"
        "footer footer footer footer footer"
}

.preContent {
    grid-area: preContent;
    text-align: center;
}

.main {
    grid-area: main;
}

#logo {
    width: 100px;
    display: block;
    margin: auto;
    padding: 8px;
}
.logo {
    display: grid;
    grid-area: logo;
    width: 100%;
    background-color: white;
}

header, footer {
    background-color: #384F4D;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}
.header {
    grid-area: header;
    margin-bottom: 1px;
    display: block;
}
.footer {
    grid-area: footer;
    padding-top: 10px;
    min-height: 3em;
    font-size: 0.85em;
    margin-top: 1px;
}

#pageTitleDiv {
    display: block;
    text-align: center;
}
#pageTitle {
    margin-top: 0px;
    padding-top: 15px;
}

.nav-div {
    grid-area: nav;
    background-color: #42384F;
}
.nav-div-link {
    display: block;
    float: left;
    width: 20%;
    height: 30px;
    text-align: center;
    background-color: #42384F;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-div-link:hover {
    background-color: rgb(92, 65, 67);
}
#home {
    font-weight: bold;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 15px;
}

.card {
    display: block;
}

.quoteMarks {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.quotes {
    line-height: 1.5em;
    font-size: larger;
    margin: 20px;
}
.qName {
    color: #454F38;
    font-weight: bold;
    font-size: small;
    float: right;
}

 #authorInfo {
    padding-bottom: 10px;
 }

/* ----- tablet view (37.5 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ----- Desktop view (60 em) -------------------------- */
@media only screen and (min-width: 60em) {

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 

    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "logo header header header header header"
            "nav preContent preContent preContent preContent preContent"
            "nav main main main main main"
            "footer footer footer footer footer footer"
    }

    .nav-div-link {
        width: 100%;
    }

    .logo {
        max-width: 100%;
    }
}