/* page theme colors 
#384F4D - blue
#42384F - purple - hover - rgb(92, 65, 67)
#4F383A - red
#454F38 - green */

/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
}

#logo {
    width: 100px;
    display: block;
    margin: auto;
    float: left;
    padding: 8px;
}

header, footer {
    background-color: #384F4D;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}
.header {
    margin-bottom: 0px;
}
.footer {
    margin-top: 20px;
    padding-top: 10px;
    min-height: 3em;
    font-size: 0.85em;
}

#pageTitleDiv {
    display: block;
    text-align: center;
}
#pageTitle {
    margin-top: 0px;
    padding-top: 15px;
}

.nav-div-link {
    display: block;
    float: left;
    width: 20%;
    height: 30px;
    text-align: center;
    background-color: #42384F;
    color: white;
    margin: 0;
    padding-top: 5px;
    margin-top: 1px;
}
.nav-div-link:hover {
    background-color: rgb(92, 65, 67);
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 15px;
}

.card {
    display: block;
    border: 1px solid black;
}

 #authorInfo {
    padding-bottom: 10px;
 }

 .cardBanner {
    background-color: #421f1e;
    padding: 4px;
    padding-left: 6px;
    color: white;
 }
.cardBody {
    width: 98%;
    display: block;
    margin: auto;
}
.cardImage {
    border: 1px solid black;
    display: block;
    margin: auto;
    max-width: 95%;
    min-height: 20px;
}

p {
    font-size: 0.85em;
    margin-left: 8px;
}

/* ----- tablet view (37.5 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ----- Desktop view (60 em) -------------------------- */
@media only screen and (min-width: 60em) {

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
}