* {
    box-sizing: border-box;
}

hr {
    width: 100%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(farthest-corner at 20vw 20vh, #046 1%, #3f2c41 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 1em;
}

.main {
    display: block;
}

.header {
    height: 10em;
    width: auto;
    position: relative;
    background-color: black;
    border-radius: 20px;
    z-index: 1;
}

.header-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1em;
}

.t-color-w {
    color: white;
}

.name {
    font-size: 3em;
    font-family: 'Pompiere', cursive;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
}

.hr-flex {
    display: flex;
    width: auto;
    height: 0.1em;
    background-color: gray;
    margin: 0.2em 0 0.7em 0;
}

.title {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    letter-spacing: 1.1em;
}

.links {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 1em 0 1em;
    top: -2em;
}

.dash-div {
    display: flex;
    margin: auto;
    width: 100%;
}

.dash-text-div {
    display: flex;
    margin: auto;
    width: 100%;
    padding-bottom: 1em;
    position: relative;
}

.dash {
    background-color: gray;
    height: 0.6em;
    width: 100%;
    margin-top: 0.8em;
    display: flex;
    box-shadow: 0 0 2px black;
}

.dash-text {
    height: 0.6em;
    margin-top: 0.8em;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 0 0 6px white, 0 0 14px white;
    font-size: 0.8em;
    position: relative;
    margin-bottom: 1em;
}

.link-1,
.link-2,
.link-3,
.link-4 {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.link-1:hover {
    z-index: 2;
}

.link-1:hover .dash {
    background-color: white;
    box-shadow: 0 -12px 20px white;
}

.link-1:hover .dash-text {
    z-index: 2;
}

.link-2:hover {
    z-index: 2;
}

.link-2:hover .dash {
    background-color: white;
    box-shadow: 0 -12px 20px white;
}

.link-2:hover .dash-text {
    z-index: 2;
}

.link-3:hover {
    z-index: 2;
}

.link-3:hover .dash {
    background-color: white;
    box-shadow: 0 -12px 20px white;
}

.link-3:hover .dash-text {
    z-index: 2;
}

.link-4:hover {
    z-index: 2;
}

.link-4:hover .dash {
    background-color: white;
    box-shadow: 0 -12px 20px white;
}

.link-4:hover .dash-text {
    z-index: 2;
}

.work {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}

.work-img {
    box-shadow: 0 0 4px 1px black;
    width: 100%;
    height: 150px;
    margin: 10px;
    position: relative;
    border-radius: 20px 0 20px 0;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center 0;
    filter: grayscale(0.7);
}

.bloom {
    opacity: 1.0;
    animation-name: picBloom;
    animation-duration: 2s;
}

@keyframes picBloom {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

.w-title {
    position: absolute;
    top: 45%;
    height: 50px;
    padding: 5px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    filter: opacity(0.8);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 8px;
}

.section-title {
    color: white;
    text-shadow: 0 0 6px white, 0 0 14px white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 675px) {

    .work-img {
        box-shadow: 0 0 4px 1px black;
        width: 45%; 
    }

    .header {
        display: flex;
        height: 7em;
        justify-content: flex-end;
    }

    .header-text {
        max-width: 300px;
    }

    .links {
        width: 360px;
    }
}

@media only screen and (min-width: 850px) {
    
    .work-img {
        width: 28%;
    }
}

@media only screen and (min-width: 1000px) {
    
    .work-img {
        max-width: 320px;
    }

    .i-wrapper, 
    .main {
        max-width: 1005px;
        margin: auto;
    }
}